@import '../../styles/variables';

.host-dashboard {
  h1 {
    font-family: $font-family-primary;
    font-size: $font-size-section-title;
    font-weight: $font-weight-extrabold;
    color: $color-text-primary;
    margin: 0 0 $spacing-xl 0;
  }

  p {
    font-family: $font-family-primary;
    font-size: $font-size-base;
    color: $color-text-secondary;
  }
}
